<br>
<div class="jumbotron clearfix">
  <p>
    Welcome to the Blocpedia wiki page,
    feel free to contirbute by providing insighful information on any topic.
  </p>
  <% if current_user.standard? %>
  <p>
    Become a <%= link_to 'premium user', new_charge_path %>
  <% else %>
    Premium Account: <%= current_user.username %>
  </p>
  <small>Unhappy? <%= link_to 'unsubscribe', new_charge_path %> </small>
  <% end %>
  <div class="pull-right">
    <%= link_to "Create", new_wiki_path, class:'btn btn-primary' %>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <h3>My Wikis</h3>
    <% if current_user.standard? %>
      <%= render current_user.wikis.public %>
    <% else %>
      <%= render current_user.wikis %>
    <% end %>
  </div>
</div>
<hr>
<% if current_user.standard? %>
  <h3>Wikis</h3>
  <br>
  <div class="row">
    <% @wikis_public.each do |wiki| %>
      <div class="col-md-8">
        <div class="media">
          <div class="media-body">
            <h4 class="media-heading">
              <%= link_to wiki.title, [@wiki_path, wiki] %>
              <small>public</small>
            </h4>
            <small>
                submitted <%= time_ago_in_words(wiki.created_at) %> ago by <%= wiki.user.username %>
                <% if wiki.edited_by %>
                <br>
                updated <%= time_ago_in_words(wiki.updated_at) %> ago by <%= wiki.edited_by.username %>
                <% end %>
                <br>
            </small>
            <br>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <h3>Wikis</h3>
  <br>
    <div class="row">
      <% @wikis.each do |wiki| %>
        <div class="col-md-8">
          <div class="media">
            <div class="media-body">
              <h4 class="media-heading">
                <%= link_to wiki.title, [@wiki_path, wiki] %>
                <% if wiki.private? %>
                  <small>private</small>
                <% else %>
                  <small>public</small>
                <% end %>
              </h4>
              <small>
                  submitted <%= time_ago_in_words(wiki.created_at) %> ago by <%= wiki.user.username %>
                  <% if wiki.edited_by %>
                  <br>
                  updated <%= time_ago_in_words(wiki.updated_at) %> ago by <%= wiki.edited_by.username %>
                  <% end %>
                  <br>
              </small>
              <br>
            </div>
          </div>
        </div>
      <% end %>
  </div>
<% end %>
