<div>
  <h1>
    <%= @wiki.title %>
    <small>
      <% if @wiki.private? %>
        private
      <% else %>
        public
      <% end %>
    </small>
  </h1>
  <small>
      submitted <%= time_ago_in_words(@wiki.created_at) %> ago by <%= @wiki.user.username %>
      <br>
      <% if @wiki.edited_by %>
      updated <%= time_ago_in_words(@wiki.updated_at) %> ago by <%= @wiki.edited_by.username %>
      <% end %>
  </small>
  <br>
  <br>
  <div class="row">
    <div class="col-md-8">
      <p>
        <%= markdown(@wiki.body) %>
      </p>
    </div>
  </div>
      <div class="col-md-4 pull-right">
        <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-warning' %>
        <% if user_is_authorized_for_wiki?(@wiki) %>
          <%= link_to "Delete Wiki", [@wiki], method: :delete, class: 'btn btn-danger', data:{confirm: 'Are you sure you want to delete this wiki?'} %>
        <% end %>
      </div>
      <br>
  <div>
    <%= link_to "Home", wikis_path %>
  </div>
</div>
